# Ignore contents of /data but keep the folder
/data/*
!/data/.gitkeep

# Ignore contents of /models but keep the folder
/models/*
!/models/.gitkeep

# Ignore contents of /src/custom/input_media but keep the folder
/src/custom/input_media/*
!/src/custom/input_media/.gitkeep

# Ignore contents of /src/YOLO/output_media but keep the folder
/src/YOLO/output_media/*
!/src/YOLO/output_media/.gitkeep

# Ignore contents of /src/YOLO/input_media but keep the folder
/src/YOLO/input_media/*
!/src/YOLO/input_media/.gitkeep
src/.idea
dataset
src/custom/__pycache__
.idea
